
/* - - - - - - - - - - - -
 * Creator: style-nes
 * URL: style-nes.com
 * Email: style-nes@ya.ru
 * - - - - - - - - - - - - */


/* -------------------------------------- Reset ------------------------------------ */
html, body, div,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, span, 
ul, li, img,
fieldset, form, label, legend, input, textarea,
table, td, th {margin:0; padding:0; border:0; outline:0;}

h1, h2, h3, h4 {font-weight:normal;}

ul li {list-style:outside; list-style:none;}
