/* -----------------------------------------------------------------------
* Filename: screen.ie.css
* Description: CSS styles for IE
* Based on Blueprint CSS Framework
*/


/* _all
----------------------------------------------------------------------- */
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
hr {margin:-8px auto 11px;}
img {-ms-interpolation-mode:bicubic;}
fieldset {padding-top:0;}
textarea {overflow:auto;}
form.inline div, form.inline p {vertical-align:middle;}
form.inline label {position:relative;top:-0.25em;}
form.inline input.checkbox, form.inline input.radio, form.inline input.button, form.inline button {margin:0.5em 0;}
button, input.button {position:relative;top:0.25em;}

div, .footer .list *,
.search, .search *,
.block, .block *,
.catalog-menu, .catalog-menu *,
.olist *,.block-daily-item *,
.slider-pager,.hit-items .catalog .item *,
.catalog-in-list,.link-up, .link-up *,
.producer-block, .search-fast *, .h2 span.switch,
.subscribe-form *,.form *,.block-item-pics *,
.reviews-full .vote,.reviews-full .vote *,
.similar-items .title,.accessories .cb,.accessories .cb *,
.acc-nav,.acc-nav *,.item-rating *,.cart p.cart-link *,.cart p.cart-checkout,.go-checkout,.more-link,.more-link *,
.go-checkout .buy-credit *,.list-4 ul *, .catalog-cart2 .item *,.form .radios *,.form .radios .map .yandex,
.checkout-green, .checkout-green *,.block-white .col1,.block-white .col2,.block-white .col3 {
zoom: 1;
}
.go-checkout .questions .more-link * {zoom:0;}
p.cart-link {line-height:16px;}
.list-4 li.st {margin-right:1.9%;}

/* _ie7
----------------------------------------------------------------------- */
html>body p code {*white-space:normal;}

/* data:uri replacement */
.header .call {*background-image:url('../img/ico/call.gif');}
.header .city span {*background-image:url('../img/ico/question.gif');}
.header .dropdown {*background-image:url('../img/ico/triangle-white.gif');}
.header .cart p.cart-link span {*background-image:url('../img/ico/triangle-black.gif');}
.h2 span.switch {*background-image:url('../img/ico/triangle-blue.gif');}
.h2 span.switch-full {*background-position: 100% -36px;}
.h2 span.switch-collapsed {*background-position: 100% 9px;}

.right2 {*width:72.98%;}
.catalog .item {*width:49.99%;}
.catalog-list li.item {*width:28.9%;}
.producer-list li.item {*width:22.83%;}
.new-items .catalog .item {*width:33.16%;*display:inline-block;}
.hit-items2 .catalog .item {*width:22.95%;}
.right2 .producer-block .producer-list li.item {*width:13.83%;}
.choose-laptop label {*padding: 0 8px 0 0;*position:relative;*top:-1px;}
.catalog-cart,.catalog-cart .item {*width:220px;}
.catalog-def .item {*width:24.9%;}

/* _ie6
----------------------------------------------------------------------- */
* html body {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
* html legend {margin:0px -8px 16px 0;padding:0;}
* html input.radio {top:-1px;left:-1px;}
* html h1, * html h2, * html h3, * html h4, * html h5, * html h6 {font-weight:normal;}
* html .container {width: expression(((document.documentElement.clientWidth || document.body.clientWidth) < 950) ? '950px' : ((document.body.clientWidth > 1400) ? '1400px' : '100%'));height:100%;}
* html .footer,* html .block .bl,* html .block .br {bottom:expression(this.parentNode.offsetHeight % 2 ? -1 : 0 );}
* html .block .tr,* html .block .br, * html .popup .r,* html .checkout-nav li var {right:expression(this.parentNode.offsetWidth % 2 ? -1 : 0 );}
* html .search p input.submit, * html .block-daily-item .slider-pager {display:inline;}

* html .block .tl,* html .block .tr,* html .block .bl,* html .block .br {background-image:url('../img/block/gray-ie.png')};

* html .block-daily-item .slider-pager li.active a {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/switch-a.png',sizingMethod=scale);background:none;cursor:pointer;}
* html .block-daily-item .switch .pic {height:180px;}
* html .block-daily-item .switch .info {height:120px;}
* html .block-daily-item .switch .info .add img {filter:expression(fixPNG(this));}
* html .block-daily-item .stock {height:162px;}
* html .catalog .item .badge img,* html .item-info-left .badge img {filter:expression(fixPNG(this));}
* html .best-items {overflow:hidden;}
* html .best-items .slider {height:280px;overflow:hidden;}
* html .best-items .slider-pager {display:none;}

* html .hit-items .block .tl,* html .hit-items .block .tr,
* html .hit-items .block .bl,* html .hit-items .block .br {background-image:url('../img/block/yellow-ie.png');}
* html .hit-items2 .block .tl,* html .hit-items2 .block .tr,
* html .hit-items2 .block .bl,* html .hit-items2 .block .br {background-image:url('../img/block/gray2-ie.png');}

* html .olist var {background-image:url('../img/olist-ie.png');}
* html .rating i {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/rating.png',sizingMethod=scale);background:none;}
* html .catalog .item .add img,* html .popup .close img, * html .catalog-acc .item .plus img {filter:expression(fixPNG(this));}
* html .news-list .h2 {height:65px;}
* html .hit-items .catalog .item .review dfn {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/review-corner.png',sizingMethod=scale);background:none;}
* html .hit-items2 .catalog .item .review dfn {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/review-corner2.png',sizingMethod=scale);background:none;}
* html .pluses-list .pic img, * html .item-buy .add img,.item-buy .one img {filter:expression(fixPNG(this));}

* html .subscribe-form input.text {margin:0 -14px 0 0;left:-7px;}
* html .credit-list .title {height:28px;}
* html .reviews-full .item .vote span a {float:left;display:inline-block;}
* html .other-items .hspace .h2 {width:49.95%;}
* html .catalog-acc .item .info {height:150px;}
* html .popup {position:absolute;}
* html .popup-addReview .catalog {display:inline-block;}
* html .popup .p24 {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/popup/corner.png',sizingMethod=scale);background:none;}

* html .item-info-left .pic .zoom {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/zoom.png',sizingMethod=scale);background:none;cursor:pointer;}
* html .used-items .block .tl,* html .used-items .block .tr,* html  .used-items .block .bl,* html .used-items .block .br {background-image:url('../img/block/gray2-ie.png');}
* html .catalog-acc .item {width:24.9%;overflow-x:hidden;}
* html .popup-accReplace .catalog-acc .item {overflow-x:visible;}

* html .popup-cartPopup .catalog-space {height:290px;}

* html .list-4 li.st {width:22.95%;}
* html .list-4 li p.title {height:28px;}
* html .go-checkout .buy-credit .hidden {height:48px;}
* html .more-link span {background-image:url('../img/ico/triangle-blue.gif');}
* html .catalog-cart2 .item .delete {background:url('../img/close-ie.png') no-repeat 0 3px;}

* html .catalog-2 .item {width:96%;}
* html .producer-list-w50 li.item {width:48%;}

* html .similar-search3 .col1 input.text {margin-top:-1px;margin-bottom:-1px;float:none;}

* html .olist {height:190px;}
* html .block-last-reviews {height:130px;}

/*
* html .tr, * html .br {right:expression(this.parentNode.offsetWidth % 2 ? -1 : 0 );}
* html .bl, * html .br {bottom:expression(this.parentNode.offsetHeight % 2 ? -1 : 0 );}
* html .p24 {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/bg/tires.png',sizingMethod=scale);background:none;}
*/


.fancybox-ie6 #fancybox-close { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_close.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-left-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_nav_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-right-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_nav_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-title-over { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_title_over.png', sizingMethod='scale'); zoom: 1; }
.fancybox-ie6 #fancybox-title-float-left { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_title_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-main { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_title_main.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-right { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_title_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {
height: expression(this.parentNode.clientHeight + "px");
}

#fancybox-loading.fancybox-ie6 {
position: absolute; margin-top: 0;
top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
}

#fancybox-loading.fancybox-ie6 div	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_loading.png', sizingMethod='scale'); }

/* IE6, IE7, IE8 */

.fancybox-ie .fancybox-bg { background: transparent !important; }

.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy/fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }