{namespace god_kills_a_kitten}

{template subcontent}
<h1 class="h1">Господь убивает котика</h1>
<img src="/img/jule2011/kitty.jpg">
{/template}

{template rightblock}
<div class="block block-also">
</div>
{/template}

{template breadcrumbs}
<p class="breadcrumbs"></p>
{/template}
